<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="eu.cloudscaleproject.env.csm.presentation.CsmModelWizardID"
            name="%_UI_CsmModelWizard_label"
            class="eu.cloudscaleproject.env.csm.presentation.CsmModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/CsmModelFile.gif">
         <description>%_UI_CsmModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="eu.cloudscaleproject.env.csm.presentation.CsmEditorID"
            name="%_UI_CsmEditor_label"
            icon="icons/full/obj16/CsmModelFile.gif"
            extensions="csm"
            class="eu.cloudscaleproject.env.csm.presentation.CsmEditor"
            contributorClass="eu.cloudscaleproject.env.csm.presentation.CsmActionBarContributor">
      </editor>
      <editor
            class="eu.cloudscaleproject.env.csm.presentation.CsmEditor"
            contributorClass="eu.cloudscaleproject.env.csm.presentation.CsmActionBarContributor"
            extensions="sdlo"
            icon="icons/full/obj16/SdloModelFile.png"
            id="eu.cloudscaleproject.env.csm.presentation.CsmEditorID"
            name="SDLO Model Editor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="eu.cloudscaleproject.env.csm.core.presentation.CoreModelWizardID"
            name="%_UI_CoreModelWizard_label"
            class="eu.cloudscaleproject.env.csm.core.presentation.CoreModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/CoreModelFile.gif">
         <description>%_UI_CoreModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="eu.cloudscaleproject.env.csm.core.presentation.CoreEditorID"
            name="%_UI_CoreEditor_label"
            icon="icons/full/obj16/CoreModelFile.gif"
            extensions="core"
            class="eu.cloudscaleproject.env.csm.core.presentation.CoreEditor"
            contributorClass="eu.cloudscaleproject.env.csm.core.presentation.CoreActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="eu.cloudscaleproject.env.csm.architecture.presentation.ArchitectureModelWizardID"
            name="%_UI_ArchitectureModelWizard_label"
            class="eu.cloudscaleproject.env.csm.architecture.presentation.ArchitectureModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ArchitectureModelFile.gif">
         <description>%_UI_ArchitectureModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="eu.cloudscaleproject.env.csm.architecture.presentation.ArchitectureEditorID"
            name="%_UI_ArchitectureEditor_label"
            icon="icons/full/obj16/ArchitectureModelFile.gif"
            extensions="architecture"
            class="eu.cloudscaleproject.env.csm.architecture.presentation.ArchitectureEditor"
            contributorClass="eu.cloudscaleproject.env.csm.architecture.presentation.ArchitectureActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="eu.cloudscaleproject.env.csm.definition.presentation.DefinitionModelWizardID"
            name="%_UI_DefinitionModelWizard_label"
            class="eu.cloudscaleproject.env.csm.definition.presentation.DefinitionModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/DefinitionModelFile.gif">
         <description>%_UI_DefinitionModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="eu.cloudscaleproject.env.csm.definition.presentation.DefinitionEditorID"
            name="%_UI_DefinitionEditor_label"
            icon="icons/full/obj16/DefinitionModelFile.gif"
            extensions="definition"
            class="eu.cloudscaleproject.env.csm.definition.presentation.DefinitionEditor"
            contributorClass="eu.cloudscaleproject.env.csm.definition.presentation.DefinitionActionBarContributor">
      </editor>
   </extension>

</plugin>
