<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   
   <extension
         id="eu.cloudscaleproject.env.method.fragment"
         name="Model fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   
   <extension point ="org.eclipse.graphiti.ui.diagramTypeProviders">
    <diagramTypeProvider
      class ="eu.cloudscaleproject.env.method.viewer.diagram.DiagramTypeProvider"
      id="eu.cloudscaleproject.env.method.viewer.diagram.MethodDiagram"
      name="Method Diagram Type Provider">
      <diagramType
        id ="eu.cloudscaleproject.env.method.diagram.MethodDiagramType">
      </diagramType>
      <imageProvider
            id="eu.cloudscaleproject.env.method.viewer.diagram.DiagramImageProvider">
      </imageProvider>
    </diagramTypeProvider>
  </extension>
  
  <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="CloudscaleMethodDiagram.PropertyContributor">
         <propertyCategory
               category="Graphiti"></propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="CloudscaleMethodDiagram.PropertyContributor">
         <propertyTab
               afterTab="0"
               category="Graphiti"
               id="diagram.property.tab.general"
               label="General">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="CloudscaleMethodDiagram.PropertyContributor">
         <propertySection
               class="eu.cloudscaleproject.env.method.viewer.diagram.properties.PropertySection"
               filter="eu.cloudscaleproject.env.method.viewer.diagram.properties.PropertySectionFilter"
               id="eu.cloudscaleproject.env.method.viewer.propertySection"
               tab="diagram.property.tab.general">
         </propertySection>
      </propertySections>
   </extension>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="eu.cloudscaleproject.env.method.viewer.diagram.CustomDiagramEditor"
            default="true"
            extensions="workflow"
            id="eu.cloudscaleproject.env.method.viewer.diagram.CustomDiagramEditor"
            matchingStrategy="org.eclipse.graphiti.ui.editor.DiagramEditorMatchingStrategy"
            name="Workflow viewer">
      </editor>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://METHOD_WORKFLOW/"
            target="platform:/plugin/eu.cloudscaleproject.env.method.viewer/resources/">
      </mapping>
   </extension>
   <extension
         point="org.eclipse.graphiti.ui.imageProviders">
      <imageProvider
            class="eu.cloudscaleproject.env.method.viewer.diagram.DiagramImageProvider"
            id="eu.cloudscaleproject.env.method.viewer.diagram.DiagramImageProvider">
      </imageProvider>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <e4view
            category="eu.cloudscaleproject.env.product.views.category.cloudscale"
            class="eu.cloudscaleproject.env.method.viewer.diagram.DiagramViewPart"
            icon="icons/ic-workflow.png"
            id="eu.cloudscaleproject.env.method.viewer.Workflow"
            name="Workflow diagram"
            restorable="true">
      </e4view>
   </extension>
</plugin>
