<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension
         id="archimetrixExtension"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         id="eu.cloudscaleproject.env.extractor.tabitemextension"
         point="eu.cloudscaleproject.env.toolchain.editors">
      <client
            class="eu.cloudscaleproject.env.extractor.editors.ExtractorTabItemExtension"
            position="10">
      </client>
   </extension>
   <extension
         point="eu.cloudscaleproject.env.common.notification.validator">
      <client
            class="eu.cloudscaleproject.env.extractor.validators.InputValidator">
      </client>
      <client
            class="eu.cloudscaleproject.env.extractor.validators.ConfigValidator">
      </client>
      <client
            class="eu.cloudscaleproject.env.extractor.validators.ResultValidator">
      </client>
   </extension>
   <extension
         point="eu.cloudscaleproject.env.toolchain.tool">
      <tool
            icon="resources/icons/extractor_16.png"
            id="eu.cloudscaleproject.env.toolchain.ToolchainUtils.extractor"
            name="Extractor"
            position="20">
         <resource
               class="eu.cloudscaleproject.env.extractor.alternatives.ConfigResourceProviderFactory"
               editor="eu.cloudscaleproject.env.extractor.partdescriptor.configEditor"
               icon="resources/icons/configuration_16.png"
               id="eu.cloudscaleproject.env.toolchain.ToolchainUtils.extractorConf"
               name="Configuration"
               position="10">
         </resource>
         <resource
               class="eu.cloudscaleproject.env.extractor.alternatives.ResultResourceProviderFactory"
               editor="eu.cloudscaleproject.env.extractor.partdescriptor.resultEditor"
               icon="resources/icons/results_16.png"
               id="eu.cloudscaleproject.env.toolchain.ToolchainUtils.extractorRes"
               name="Results"
               position="20">
         </resource>
      </tool>
   </extension>
</plugin>
