<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension
         id="archimetrixExtension"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         id="eu.cloudscaleproject.env.extractor.tabitemextension"
         point="eu.cloudscaleproject.env.toolchain.editors">
      <client
            class="eu.cloudscaleproject.env.extractor.editors.ExtractorTabItemExtension"
            position="10">
      </client>
   </extension>
   <extension
         point="eu.cloudscaleproject.env.common.notification.validator">
      <client
            class="eu.cloudscaleproject.env.extractor.validators.InputValidator">
      </client>
      <client
            class="eu.cloudscaleproject.env.extractor.validators.ConfigValidator">
      </client>
      <client
            class="eu.cloudscaleproject.env.extractor.validators.ResultValidator">
      </client>
   </extension>
   <extension
         point="eu.cloudscaleproject.env.toolchain.tool">
      <Tool
            id="eu.cloudscaleproject.env.toolchain.ToolchainUtils.extractor"
            name="Extractor">
         <ResourceProviderFactory
               class="eu.cloudscaleproject.env.extractor.alternatives.InputResourceProviderFactory"
               editor="eu.cloudscaleproject.env.extractor.partdescriptor.inputEditor"
               id="eu.cloudscaleproject.env.toolchain.ToolchainUtils.extractorInput"
               name="Input"
               wizard="eu.cloudscaleproject.env.extractor.command.createalternative">
         </ResourceProviderFactory>
         <ResourceProviderFactory
               class="eu.cloudscaleproject.env.extractor.alternatives.ConfigResourceProviderFactory"
               editor="eu.cloudscaleproject.env.extractor.partdescriptor.configEditor"
               id="eu.cloudscaleproject.env.toolchain.ToolchainUtils.extractorConf"
               name="Configuration"
               wizard="eu.cloudscaleproject.env.extractor.command.createalternative">
         </ResourceProviderFactory>
         <ResourceProviderFactory
               class="eu.cloudscaleproject.env.extractor.alternatives.ResultResourceProviderFactory"
               editor="eu.cloudscaleproject.env.extractor.partdescriptor.resultEditor"
               id="eu.cloudscaleproject.env.toolchain.ToolchainUtils.extractorRes"
               name="Results">
         </ResourceProviderFactory>
      </Tool>
      <Explorer
            id="eu.cloudscaleproject.env.extractor.Explorer"
            name="Explorer">
         <Node
               action="eu.cloudscaleproject.env.extractor.command.createalternative"
               icon="resources/icons/ic-extractor-16.png"
               id="eu.cloudscaleproject.env.toolchain.ToolchainUtils.extractor"
               name="Extractor"
               position="20">
            <NodeDynamic
                  class="eu.cloudscaleproject.env.toolchain.explorer.ExplorerAlternativesRetriever"
                  editor="eu.cloudscaleproject.env.extractor.partdescriptor.inputEditor"
                  empty="eu.cloudscaleproject.env.extractor.createalternative"
                  icon="resources/icons/input_16.png"
                  id="eu.cloudscaleproject.env.toolchain.ToolchainUtils.extractorInput"
                  name="Input alternative">
               <Node
                     icon="resources/icons/ic-input-16.png"
                     id="eu.cloudscaleproject.env.extractor.nodeInput"
                     name="Input">
                  <NodeDynamic
                        action="eu.cloudscaleproject.env.extractor.command.showjavaproject"
                        class="eu.cloudscaleproject.env.extractor.ExplorerProjectProvider"
                        empty="eu.cloudscaleproject.env.extractor.importjavaproject"
                        id="eu.cloudscaleproject.env.extractor.nodeInputalternativeContent"
                        name="Java projects">
                  </NodeDynamic>
               </Node>
               <Node
                     action="eu.cloudscaleproject.env.extractor.command.createalternative"
                     icon="resources/icons/configuration_16.png"
                     id="eu.cloudscaleproject.env.extractor.nodeConfiguration"
                     name="Configurations">
                  <NodeDynamic
                        class="eu.cloudscaleproject.env.toolchain.explorer.ExplorerAlternativesRetriever"
                        editor="eu.cloudscaleproject.env.extractor.partdescriptor.configEditor"
                        empty="eu.cloudscaleproject.env.extractor.createconfiguration"
                        id="eu.cloudscaleproject.env.toolchain.ToolchainUtils.extractorConf"
                        name="Configuration alternative">
                  </NodeDynamic>
               </Node>
               <Node
                     icon="resources/icons/ic-results-16.png"
                     id="eu.cloudscaleproject.env.extractor.nodeResults"
                     name="Results">
                  <NodeDynamic
                        class="eu.cloudscaleproject.env.toolchain.explorer.ExplorerAlternativesRetriever"
                        editor="eu.cloudscaleproject.env.extractor.partdescriptor.resultEditor"
                        empty="eu.cloudscaleproject.env.extractor.noresults"
                        id="eu.cloudscaleproject.env.toolchain.ToolchainUtils.extractorRes"
                        name="Result alternatives">
                     <NodeDynamic
                           class="eu.cloudscaleproject.env.toolchain.explorer.ExplorerAlternativesContentRetriever"
                           id="eu.cloudscaleproject.env.extractor.resultNodeContent"
                           name="Result alternative content">
                     </NodeDynamic>
                  </NodeDynamic>
               </Node>
            </NodeDynamic>
         </Node>
      </Explorer>
      <Nodes
            id="eu.cloudscaleproject.env.extractor.nodes"
            name="Nodes">
         <Node
               action="eu.cloudscaleproject.env.extractor.command.createalternative"
               icon="resources/icons/ic-create-alternative-16.png"
               id="eu.cloudscaleproject.env.extractor.createalternative"
               name="Create new alternative...">
         </Node>
         <Node
               action="eu.cloudscaleproject.env.extractor.command.createalternative"
               icon="resources/icons/ic-create-alternative-16.png"
               id="eu.cloudscaleproject.env.extractor.createconfiguration"
               name="Create new configuration...">
         </Node>
         <Node
               action="org.eclipse.ui.file.import"
               id="eu.cloudscaleproject.env.extractor.importjavaproject"
               name="Import java project...">
         </Node>
         <Node
               id="eu.cloudscaleproject.env.extractor.noresults"
               name="(No results yet)">
         </Node>
      </Nodes>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="eu.cloudscaleproject.env.extractor.confAlternativeProviderNode">
         <with
               variable="org.eclipse.ui.selection">
            <test
                  property="eu.cloudscaleproject.env.toolchain.explorer.node.id"
                  value="eu.cloudscaleproject.env.extractor.nodeConfiguration">
            </test>
         </with>
      </definition>
      <definition
            id="eu.cloudscaleproject.env.extractor.inputAlternativeProviderNode">
         <with
               variable="org.eclipse.ui.selection">
            <test
                  property="eu.cloudscaleproject.env.toolchain.explorer.node.id"
                  value="eu.cloudscaleproject.env.toolchain.ToolchainUtils.extractor">
            </test>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="eu.cloudscaleproject.env.product.wizard.category"
            class="eu.cloudscaleproject.env.extractor.wizard.CreateInputWizard"
            hasPages="true"
            icon="resources/icons/ic-input-alternative-16.png"
            id="eu.cloudscaleproject.env.extractor.createInputAlternativeWizard"
            name="Extractor input alternative wizard"
            project="false">
      </wizard>
      <wizard
            category="eu.cloudscaleproject.env.product.wizard.category"
            class="eu.cloudscaleproject.env.extractor.wizard.CreateConfigWizard"
            hasPages="true"
            icon="resources/icons/configuration_16.png"
            id="eu.cloudscaleproject.env.extractor.createConfigAlternativeWizard"
            name="Extractor configuration alternative wizard"
            project="false">
      </wizard>
   </extension>
</plugin>
