<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
   <extension-point id="eu.cloudscaleproject.env.toolchain.explorer" name="Toolchain explorer extension" schema="schema/eu.cloudscaleproject.env.toolchain.explorer.exsd"/>

   <extension
         id="eu.cloudscaleproject.env.toolchain.explorer.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="eu.cloudscaleproject.env.toolchain.explorer.isResourceNode">
         <with
               variable="org.eclipse.ui.selection">
            <instanceof
                  value="eu.cloudscaleproject.env.toolchain.explorer.ExplorerResourceNode">
            </instanceof>
         </with>
      </definition>
      <definition
            id="eu.cloudscaleproject.env.toolchain.explorer.isEditorNode">
         <with
               variable="org.eclipse.ui.selection">
            <instanceof
                  value="eu.cloudscaleproject.env.toolchain.explorer.ExplorerEditorNode">
            </instanceof>
         </with>
      </definition>
      <definition
            id="eu.cloudscaleproject.env.toolchain.explorer.isProjectNode">
         <with
               variable="org.eclipse.ui.selection">
            <instanceof
                  value="eu.cloudscaleproject.env.toolchain.explorer.nodes.ProjectNode">
            </instanceof>
         </with>
      </definition>
      <definition
            id="eu.cloudscaleproject.env.toolchain.explorer.isAlternativeNode">
         <with
               variable="org.eclipse.ui.selection">
            <instanceof
                  value="eu.cloudscaleproject.env.toolchain.explorer.nodes.AlternativeNode">
            </instanceof>
         </with>
      </definition>
      <definition
            id="eu.cloudscaleproject.env.toolchain.explorer.isAlternativeResourceNode">
         <with
               variable="org.eclipse.ui.selection">
            <instanceof
                  value="eu.cloudscaleproject.env.toolchain.explorer.nodes.AlternativeResourceNode">
            </instanceof>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="eu.cloudscaleproject.env.toolchain.explorer.ExplorerPropertyTester"
            id="eu.cloudscaleproject.env.toolchain.explorerPropertyTester"
            namespace="eu.cloudscaleproject.env.toolchain.explorer.node"
            properties="id,idParent"
            type="eu.cloudscaleproject.env.toolchain.explorer.IExplorerNode">
      </propertyTester>
   </extension>

</plugin>
