<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="eu.cloudscaleproject.env.analyser.wizard.newInputAlternative" 
   		name="New input alternative wizard extension point" 
   		schema="schema/eu.cloudscaleproject.env.analyser.wizard.newInputAlternative.exsd"/>
   <extension
         id="eu.cloudscaleproject.env.analyser.modelfragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         id="eu.cloudscaleproject.env.analyser.tabitemextension"
         point="eu.cloudscaleproject.env.toolchain.editors">
      <client
            class="eu.cloudscaleproject.env.analyser.editors.AnalyserTabItemExtension"
            position="20">
      </client>
   </extension>
   <extension
         point="eu.cloudscaleproject.env.common.notification.validator">
      <client
            class="eu.cloudscaleproject.env.analyser.validation.InputValidator">
      </client>
      <client
            class="eu.cloudscaleproject.env.analyser.validation.ConfValidator">
      </client>
      <client
            class="eu.cloudscaleproject.env.analyser.validation.ResultValidator">
      </client>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://ENVIRONMENT_ANALYSER/"
            target="platform:/plugin/eu.cloudscaleproject.env.analyser/resources/">
      </mapping>
   </extension>
   <extension
         point="eu.cloudscaleproject.env.toolchain.tool">
      <Tool
            id="eu.cloudscaleproject.env.toolchain.ToolchainUtils.analyser"
            name="Analyser">
         <ResourceProviderFactory
               class="eu.cloudscaleproject.env.analyser.alternatives.factory.InputAlternativeFactory"
               editor="eu.cloudscaleproject.env.analyser.partdescriptor.analyserInput"
               id="eu.cloudscaleproject.env.toolchain.ToolchainUtils.analyserInput"
               name="Input">
         </ResourceProviderFactory>
         <ResourceProviderFactory
               class="eu.cloudscaleproject.env.analyser.alternatives.factory.ConfAlternativeFactory"
               editor="eu.cloudscaleproject.env.analyser.partdescriptor.analyserConfig"
               id="eu.cloudscaleproject.env.toolchain.ToolchainUtils.analyserConf"
               name="Configurations">
         </ResourceProviderFactory>
         <ResourceProviderFactory
               class="eu.cloudscaleproject.env.analyser.alternatives.factory.ResultAlternativeFactory"
               editor="eu.cloudscaleproject.env.analyser.partdescriptor.analyserResults"
               id="eu.cloudscaleproject.env.toolchain.ToolchainUtils.analyserRes"
               name="Result">
         </ResourceProviderFactory>
      </Tool>
      <Node
            icon="resources/icons/analyser_16.png"
            id="eu.cloudscaleproject.env.analyser.Node1"
            name="Analyser">
         <NodeDynamic
               class="eu.cloudscaleproject.env.toolchain.explorer.ExplorerAlternativesRetriever"
               editor="eu.cloudscaleproject.env.analyser.partdescriptor.analyserInput"
               icon="resources/icons/input_16.png"
               id="eu.cloudscaleproject.env.toolchain.ToolchainUtils.analyserInput"
               name="Input alternatives">
            <Node
                  icon="resources/icons/input_16.png"
                  id="eu.cloudscaleproject.env.analyser.inputNode"
                  name="Input">
               <NodeDynamic
                     class="eu.cloudscaleproject.env.toolchain.explorer.ExplorerAlternativesContentRetriever"
                     id="eu.cloudscaleproject.env.analyser.NodeDynamic1"
                     name="Input alternative content">
               </NodeDynamic>
            </Node>
            <Node
                  icon="resources/icons/configuration_16.png"
                  id="eu.cloudscaleproject.env.analyser.configurationsNode"
                  name="Configurations">
               <NodeDynamic
                     class="eu.cloudscaleproject.env.toolchain.explorer.ExplorerAlternativesRetriever"
                     editor="eu.cloudscaleproject.env.analyser.partdescriptor.analyserConfig"
                     id="eu.cloudscaleproject.env.toolchain.ToolchainUtils.analyserConf"
                     name="Configuration resources">
                  <NodeDynamic
                        class="eu.cloudscaleproject.env.toolchain.explorer.ExplorerAlternativesContentRetriever"
                        id="eu.cloudscaleproject.env.analyser.NodeDynamic4"
                        name="Configuration content">
                  </NodeDynamic>
               </NodeDynamic>
            </Node>
            <Node
                  icon="resources/icons/results_16.png"
                  id="eu.cloudscaleproject.env.analyser.resultsNode"
                  name="Results">
               <NodeDynamic
                     class="eu.cloudscaleproject.env.toolchain.explorer.ExplorerAlternativesRetriever"
                     editor="eu.cloudscaleproject.env.analyser.partdescriptor.analyserResults"
                     id="eu.cloudscaleproject.env.toolchain.ToolchainUtils.analyserRes"
                     name="Result resources">
                  <NodeDynamic
                        class="eu.cloudscaleproject.env.toolchain.explorer.ExplorerAlternativesContentRetriever"
                        id="eu.cloudscaleproject.env.analyser.NodeDynamic4"
                        name="Result content">
                  </NodeDynamic>
               </NodeDynamic>
            </Node>
         </NodeDynamic>
      </Node>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="eu.cloudscaleproject.env.analyser.inputAlternativeNode">
         <with
               variable="org.eclipse.ui.selection">
            <adapt
                  type="eu.cloudscaleproject.env.toolchain.resources.types.IEditorInputResource">
               <instanceof
                     value="eu.cloudscaleproject.env.analyser.alternatives.InputAlternative">
               </instanceof>
            </adapt>
         </with>
      </definition>
      <definition
            id="eu.cloudscaleproject.env.analyser.confAlternativeNode">
         <with
               variable="org.eclipse.ui.selection">
            <with
                  variable="data">
               <instanceof
                     value="eu.cloudscaleproject.env.analyser.alternatives.ConfAlternative">
               </instanceof>
            </with>
         </with>
      </definition>
      <definition
            id="eu.cloudscaleproject.env.analyser.resultAlternativeNode">
         <with
               variable="org.eclipse.ui.selection">
            <with
                  variable="data">
               <instanceof
                     value="eu.cloudscaleproject.env.analyser.alternatives.ResultAlternative">
               </instanceof>
            </with>
         </with>
      </definition>
      <definition
            id="eu.cloudscaleproject.env.analyser.inputAltProviderNode">
         <with
               variable="org.eclipse.ui.selection">
            <and>
               <test
                     forcePluginActivation="true"
                     property="eu.cloudscaleproject.env.toolchain.explorer.node.id"
                     value="eu.cloudscaleproject.env.toolchain.ToolchainUtils.analyserInput">
               </test>
               <reference
                     definitionId="eu.cloudscaleproject.env.toolchain.explorer.isAlternativeProviderNode">
               </reference>
            </and>
         </with>
      </definition>
      <definition
            id="eu.cloudscaleproject.env.analyser.resultAltProviderNode">
         <with
               variable="org.eclipse.ui.selection">
            <and>
               <test
                     forcePluginActivation="true"
                     property="eu.cloudscaleproject.env.toolchain.explorer.node.id"
                     value="eu.cloudscaleproject.env.toolchain.ToolchainUtils.analyserRes">
               </test>
               <reference
                     definitionId="eu.cloudscaleproject.env.toolchain.explorer.isAlternativeProviderNode">
               </reference>
            </and>
         </with>
      </definition>
      <definition
            id="eu.cloudscaleproject.env.analyser.confAltProviderNode">
         <with
               variable="org.eclipse.ui.selection">
            <and>
               <test
                     forcePluginActivation="true"
                     property="eu.cloudscaleproject.env.toolchain.explorer.node.id"
                     value="eu.cloudscaleproject.env.toolchain.ToolchainUtils.analyserConf">
               </test>
               <reference
                     definitionId="eu.cloudscaleproject.env.toolchain.explorer.isAlternativeProviderNode">
               </reference>
            </and>
         </with>
      </definition>
      <definition
            id="eu.cloudscaleproject.env.analyser.toolNode">
         <with
               variable="org.eclipse.ui.selection">
            <test
                  forcePluginActivation="true"
                  property="eu.cloudscaleproject.env.toolchain.explorer.node.id"
                  value="eu.cloudscaleproject.env.toolchain.ToolchainUtils.analyser">
            </test>
         </with>
      </definition>
      <definition
            id="eu.cloudscaleproject.env.analyser.newInputModel">
         <with
               variable="org.eclipse.ui.selection">
            <test
                  property="eu.cloudscaleproject.env.toolchain.explorer.node.id"
                  value="eu.cloudscaleproject.env.toolchain.ToolchainUtils.analyserInput">
            </test>
         </with>
      </definition>
   </extension>

</plugin>
