<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="eu.cloudscaleproject.env.analyser.modelfragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         id="eu.cloudscaleproject.env.analyser.tabitemextension"
         point="eu.cloudscaleproject.env.toolchain.editors">
      <client
            class="eu.cloudscaleproject.env.analyser.editors.AnalyserTabItemExtension"
            position="20">
      </client>
   </extension>
   <extension
         point="eu.cloudscaleproject.env.common.notification.validator">
      <client
            class="eu.cloudscaleproject.env.analyser.validation.InputValidator">
      </client>
      <client
            class="eu.cloudscaleproject.env.analyser.validation.ConfValidator">
      </client>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://ENVIRONMENT_ANALYSER/"
            target="platform:/plugin/eu.cloudscaleproject.env.analyser/src/eu/cloudscaleproject/env/analyser/models/">
      </mapping>
   </extension>


</plugin>
