<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="eu.cloudscaleproject.env.toolchain.editors" name="Toolchain editors extension point" schema="schema/eu.cloudscaleproject.env.toolchain.editors.exsd"/>
   <extension
         id="eu.cloudscaleproject.env.toolchain.modelfragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="eu.cloudscaleproject.env.toolchain.editors.ProjectEditor"
            default="true"
            extensions="cse"
            id="eu.cloudscaleproject.env.toolchain.tooleditor"
            name="Project dashboard">
      </editor>
   </extension>
   <extension
         point="eu.cloudscaleproject.env.product.newproject">
      <client
            class="eu.cloudscaleproject.env.toolchain.wizard.NewProjectWizard">
      </client>
   </extension>

</plugin>
