<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="eu.cloudscaleproject.env.example" name="CloudScale Example Project" schema="schema/eu.cloudscaleproject.env.example.exsd"/>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="eu.cloudscaleproject.env.product.wizard.category"
            class="eu.cloudscaleproject.env.example.common.wizard.ExampleSelectionWizard"
            icon="resources/icons/wizard-icon.png"
            id="eu.cloudscaleproject.env.product.wizard.exampleproject"
            name="CloudScale Examples"
            project="true">
      </wizard>
   </extension>
   <extension
         id="eu.cloudscaleproject.env.exampleprojectnature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="eu.cloudscaleproject.env.example.common.ExampleProjectNature">
         </run>
      </runtime>
   </extension>

</plugin>
