<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.graphiti.ui.diagramTypes">
      <diagramType
            name="CSM Diagram Type"
            type="CSM Diagram"
            id="eu.cloudscaleproject.env.csm.diagram.diagramCSMType">
      </diagramType>
   </extension>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypeProviders">
      <diagramTypeProvider
            name="CSM Diagram Type Provider"
            class="eu.cloudscaleproject.env.csm.diagram.diagram.CSMDiagramTypeProvider"
            id="eu.cloudscaleproject.env.csm.diagram.diagramDiagramTypeProvider">
         <diagramType
               id="eu.cloudscaleproject.env.csm.diagram.diagramCSMType">
         </diagramType>
         <imageProvider
               id="eu.cloudscaleproject.env.csm.diagram.DiagramImageProvider">
         </imageProvider>
      </diagramTypeProvider>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="eu.cloudscaleproject.env.csm.diagram.editor.component.ComponentEditor"
            id="eu.cloudscaleproject.env.csm.diagram.editor.component.ComponentEditor"
            name="Component Editor">
      </editor>
      <editor
            class="eu.cloudscaleproject.env.csm.diagram.editor.system.SystemEditor"
            id="eu.cloudscaleproject.env.csm.diagram.editor.system.SystemEditor"
            name="System Editor">
      </editor>
   </extension>
   
   <extension
         point="org.eclipse.graphiti.ui.imageProviders">
      <imageProvider
            class="eu.cloudscaleproject.env.csm.diagram.DiagramImageProvider"
            id="eu.cloudscaleproject.env.csm.diagram.DiagramImageProvider">
      </imageProvider>
   </extension>

</plugin>
