<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="eu.cloudscaleproject.env.example">
      <example
            description="This is Minimal example."
            name="Minimal"
            readme="resources/examples/minimal/README-Minimal.html">
         <resource
               bundle="resources/examples/minimal/Minimal-environment.zip"
               dependency="Source"
               name="Environment"
               readme="resources/examples/minimal/README-Minimal-environment.html"
               type="environment">
         </resource>
         <resource
               bundle="resources/examples/minimal/Minimal-project.zip"
               name="Source"
               readme="resources/examples/minimal/README-Minimal-project.html"
               type="source">
         </resource>
      </example>
   </extension>
   <extension
         point="eu.cloudscaleproject.env.example">
      <example
            description="This is CloudStore example."
            name="CloudStore"
            readme="resources/examples/cloudstore/README-CloudStore.html">
         <resource
               bundle="resources/examples/cloudstore/CloudStore-environment.zip"
               dependency="Source"
               name="Environment"
               readme="resources/examples/cloudstore/README-CloudStore-environment.html"
               type="environment">
         </resource>
         <resource
               bundle="resources/examples/cloudstore/CloudStore-project.zip"
               name="Source"
               readme="resources/examples/cloudstore/README-CloudStore-project.html"
               type="source">
         </resource>
      </example>
   </extension>

</plugin>
