<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="CsmConverter" name="Csm model transformation extension" schema="schema/CsmConverter.exsd"/>
   <extension-point id="CsmDefinition" name="Csm Definition Extension" schema="schema/CsmDefinition.exsd"/>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://eu.cloudscale.environment/CloudscaleComponentModel/1.0"
            class="eu.cloudscaleproject.env.csm.CsmPackage"
            genModel="model/csm.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated csm -->
      <package
            uri="http://eu.cloudscaleproject.env/CloudscaleComponentModel/Core/1.0"
            class="eu.cloudscaleproject.env.csm.core.CorePackage"
            genModel="model/csm.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated csm -->
      <package
            uri="http://eu.cloudscaleproject.env/CloudscaleComponentModel/Architecture/1.0"
            class="eu.cloudscaleproject.env.csm.architecture.ArchitecturePackage"
            genModel="model/csm.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated csm -->
      <package
            uri="http://eu.cloudscaleproject.env/CloudscaleComponentModel/Definition/1.0"
            class="eu.cloudscaleproject.env.csm.definition.DefinitionPackage"
            genModel="model/csm.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="csm"
            class="eu.cloudscaleproject.env.csm.util.CsmResourceFactoryImpl"/>
      <parser
            class="eu.cloudscaleproject.env.csm.util.CsmResourceFactoryImpl"
            type="sdlo">
      </parser>
   </extension>
</plugin>
