<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

<extension
         id="eu.cloudscaleproject.env.spotter.modelfragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         id="eu.cloudscaleproject.env.spotter.tabitemextension"
         point="eu.cloudscaleproject.env.toolchain.editors">
      <client
            class="eu.cloudscaleproject.env.spotter.editors.SpotterTabItemExtension"
            position="30">
      </client>
   </extension>
   <extension
         point="eu.cloudscaleproject.env.common.notification.validator">
      <client
            class="eu.cloudscaleproject.env.spotter.validation.InputValidator">
      </client>
      <client
            class="eu.cloudscaleproject.env.spotter.validation.ConfValidator">
      </client>
      <client
            class="eu.cloudscaleproject.env.spotter.validation.ResultValidator">
      </client>
   </extension>
   <extension
         point="eu.cloudscaleproject.env.toolchain.tool">
      <tool
            icon="resources/icons/spotter_16.png"
            id="eu.cloudscaleproject.env.toolchain.ToolchainUtils.spotterDyn"
            name="Dynamic Spotter"
            position="40">
         <resource
               class="eu.cloudscaleproject.env.spotter.alternatives.providers.InputResourceProviderFactory"
               editor="eu.cloudscaleproject.env.spotter.partdescriptor.inputEditor"
               icon="resources/icons/input_16.png"
               id="eu.cloudscaleproject.env.toolchain.ToolchainUtils.spotterDynInput"
               name="Input"
               position="10">
         </resource>
         <resource
               class="eu.cloudscaleproject.env.spotter.alternatives.providers.ConfigResourceProviderFactory"
               editor="eu.cloudscaleproject.env.spotter.partdescriptor.configEditor"
               icon="resources/icons/configuration_16.png"
               id="eu.cloudscaleproject.env.toolchain.ToolchainUtils.spotterDynConf"
               name="Configuration"
               position="20">
         </resource>
         <resource
               class="eu.cloudscaleproject.env.spotter.alternatives.providers.ResultResourceProviderFactory"
               editor="eu.cloudscaleproject.env.spotter.partdescriptor.resultEditor"
               icon="resources/icons/results_16.png"
               id="eu.cloudscaleproject.env.toolchain.ToolchainUtils.spotterDynRes"
               name="Results"
               position="30">
         </resource>
         <view
               id="eu.cloudscaleproject.env.spotter.partdescriptor.serverEditor"
               name="Server configuration"
               position="5">
         </view>
      </tool>
   </extension>

</plugin>
