<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

<extension
         id="eu.cloudscaleproject.env.spotter.modelfragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         id="eu.cloudscaleproject.env.spotter.tabitemextension"
         point="eu.cloudscaleproject.env.toolchain.editors">
      <client
            class="eu.cloudscaleproject.env.spotter.editors.SpotterTabItemExtension"
            position="30">
      </client>
   </extension>
   <extension
         point="eu.cloudscaleproject.env.common.notification.validator">
      <client
            class="eu.cloudscaleproject.env.spotter.validation.InputValidator">
      </client>
      <client
            class="eu.cloudscaleproject.env.spotter.validation.ConfValidator">
      </client>
      <client
            class="eu.cloudscaleproject.env.spotter.validation.ResultValidator">
      </client>
   </extension>
   <extension
         point="eu.cloudscaleproject.env.toolchain.tool">
      <Tool
            id="eu.cloudscaleproject.env.toolchain.ToolchainUtils.spotterDyn"
            name="Dynamic Spotter">
         <ResourceProviderFactory
               class="eu.cloudscaleproject.env.spotter.alternatives.providers.InputResourceProviderFactory"
               editor="eu.cloudscaleproject.env.spotter.partdescriptor.inputEditor"
               id="eu.cloudscaleproject.env.toolchain.ToolchainUtils.spotterDynInput"
               name="Input">
         </ResourceProviderFactory>
         <ResourceProviderFactory
               class="eu.cloudscaleproject.env.spotter.alternatives.providers.ConfigResourceProviderFactory"
               editor="eu.cloudscaleproject.env.spotter.partdescriptor.configEditor"
               id="eu.cloudscaleproject.env.toolchain.ToolchainUtils.spotterDynConf"
               name="Configuration">
         </ResourceProviderFactory>
         <ResourceProviderFactory
               class="eu.cloudscaleproject.env.spotter.alternatives.providers.ResultResourceProviderFactory"
               editor="eu.cloudscaleproject.env.spotter.partdescriptor.resultEditor"
               id="eu.cloudscaleproject.env.toolchain.ToolchainUtils.spotterDynRes"
               name="Results">
         </ResourceProviderFactory>
      </Tool>
      <Explorer
            id="eu.cloudscaleproject.env.spotter.explorer"
            name="Explorer">
         <Node
               action="eu.cloudscaleproject.env.spotter.command.createalternative"
               icon="resources/icons/ic-spotter-dynamic-16.png"
               id="eu.cloudscaleproject.env.toolchain.ToolchainUtils.spotterDyn"
               name="Dynamic Spotter"
               position="40">
            <NodeResource
                  editor="eu.cloudscaleproject.env.spotter.partdescriptor.serverEditor"
                  icon="resources/icons/ic-input-16.png"
                  id="eu.cloudscaleproject.env.spotter.nodeServerConnection"
                  name="Server connection">
            </NodeResource>
            <NodeDynamic
                  class="eu.cloudscaleproject.env.toolchain.explorer.ExplorerAlternativesRetriever"
                  editor="eu.cloudscaleproject.env.spotter.partdescriptor.inputEditor"
                  empty="eu.cloudscaleproject.env.spotter.createalternative"
                  id="eu.cloudscaleproject.env.toolchain.ToolchainUtils.spotterDynInput"
                  name="Input alternative">
               <Node
                     action="eu.cloudscaleproject.env.spotter.command.createalternative"
                     icon="resources/icons/configuration_16.png"
                     id="eu.cloudscaleproject.env.spotter.nodeConfigurations"
                     name="Configurations">
                  <NodeDynamic
                        class="eu.cloudscaleproject.env.toolchain.explorer.ExplorerAlternativesRetriever"
                        editor="eu.cloudscaleproject.env.spotter.partdescriptor.configEditor"
                        empty="eu.cloudscaleproject.env.spotter.createconfiguration"
                        id="eu.cloudscaleproject.env.toolchain.ToolchainUtils.spotterDynConf"
                        name="Configuration alternative">
                  </NodeDynamic>
               </Node>
               <Node
                     icon="resources/icons/ic-results-16.png"
                     id="eu.cloudscaleproject.env.spotter.nodeResults"
                     name="Results">
                  <NodeDynamic
                        class="eu.cloudscaleproject.env.toolchain.explorer.ExplorerAlternativesRetriever"
                        editor="eu.cloudscaleproject.env.spotter.partdescriptor.resultEditor"
                        empty="eu.cloudscaleproject.env.spotter.noresults"
                        id="eu.cloudscaleproject.env.toolchain.ToolchainUtils.spotterDynRes"
                        name="Result alternatives">
                  </NodeDynamic>
               </Node>
            </NodeDynamic>
         </Node>
      </Explorer>
      <Nodes
            id="eu.cloudscaleproject.env.spotter.nodes"
            name="Nodes">
         <Node
               action="eu.cloudscaleproject.env.spotter.command.createalternative"
               id="eu.cloudscaleproject.env.spotter.createalternative"
               name="Create alternative...">
         </Node>
         <Node
               action="eu.cloudscaleproject.env.spotter.command.createalternative"
               id="eu.cloudscaleproject.env.spotter.createconfiguration"
               name="Create configuration...">
         </Node>
         <Node
               id="eu.cloudscaleproject.env.spotter.noresults"
               name="No results">
         </Node>
      </Nodes>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="eu.cloudscaleproject.env.spotter.inputAlternativeNodeProvider">
         <with
               variable="org.eclipse.ui.selection">
            <test
                  property="eu.cloudscaleproject.env.toolchain.explorer.node.id"
                  value="eu.cloudscaleproject.env.toolchain.ToolchainUtils.spotterDyn">
            </test>
         </with>
      </definition>
      <definition
            id="eu.cloudscaleproject.env.spotter.configAlternativeNodeProvider">
         <with
               variable="org.eclipse.ui.selection">
            <test
                  property="eu.cloudscaleproject.env.toolchain.explorer.node.id"
                  value="eu.cloudscaleproject.env.spotter.nodeConfigurations">
            </test>
         </with>
      </definition>
   </extension>

</plugin>
