<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="de.uka.ipd.sdq.workflow.launchconfig.multiple.launchMultipleType">
<listAttribute key="selected.launches">
<listEntry value="modisco-default"/>
<listEntry value="somox-default"/>
</listAttribute>
</launchConfiguration>
