<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="eu.cloudscaleproject.env.staticspotter.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         id="eu.cloudscaleproject.env.staticspotter.tabitemextension"
         point="eu.cloudscaleproject.env.toolchain.editors">
      <client
            class="eu.cloudscaleproject.env.staticspotter.editors.StaticSpotterTabItemExtension"
            position="40">
      </client>
   </extension>
   <extension
         point="eu.cloudscaleproject.env.common.notification.validator">
      <client
            class="eu.cloudscaleproject.env.staticspotter.validators.InputValidator">
      </client>
      <client
            class="eu.cloudscaleproject.env.staticspotter.validators.ConfigValidator">
      </client>
      <client
            class="eu.cloudscaleproject.env.staticspotter.validators.ResultValidator">
      </client>
   </extension>
   <extension
         point="eu.cloudscaleproject.env.toolchain.tool">
      <Tool
            id="eu.cloudscaleproject.env.toolchain.ToolchainUtils.spotterSta"
            name="Static Spotter">
         <ResourceProviderFactory
               class="eu.cloudscaleproject.env.staticspotter.alternatives.providers.InputResourceProviderFactory"
               editor="eu.cloudscaleproject.env.staticspotter.partdescriptor.inputEditor"
               id="eu.cloudscaleproject.env.toolchain.ToolchainUtils.spotterStaInput"
               name="Input"
               wizard="eu.cloudscaleproject.env.staticspotter.command.createalternative">
         </ResourceProviderFactory>
         <ResourceProviderFactory
               class="eu.cloudscaleproject.env.staticspotter.alternatives.providers.ConfigResourceProviderFactory"
               editor="eu.cloudscaleproject.env.staticspotter.partdescriptor.configEditor"
               id="eu.cloudscaleproject.env.toolchain.ToolchainUtils.spotterStaConf"
               name="Configuration"
               wizard="eu.cloudscaleproject.env.staticspotter.command.createalternative">
         </ResourceProviderFactory>
         <ResourceProviderFactory
               class="eu.cloudscaleproject.env.staticspotter.alternatives.providers.ResultResourceProviderFactory"
               editor="eu.cloudscaleproject.env.staticspotter.partdescriptor.resultEditor"
               id="eu.cloudscaleproject.env.toolchain.ToolchainUtils.spotterStaRes"
               name="Results">
         </ResourceProviderFactory>
      </Tool>
      <Explorer
            id="eu.cloudscaleproject.env.staticspotter.Explorer"
            name="Explorer">
         <Node
               action="eu.cloudscaleproject.env.staticspotter.command.createalternative"
               icon="resources/icons/ic-spotter-static-16.png"
               id="eu.cloudscaleproject.env.toolchain.ToolchainUtils.spotterSta"
               name="Static Spotter"
               position="30">
            <NodeDynamic
                  class="eu.cloudscaleproject.env.toolchain.explorer.ExplorerAlternativesRetriever"
                  editor="eu.cloudscaleproject.env.staticspotter.partdescriptor.inputEditor"
                  empty="eu.cloudscaleproject.env.staticspotter.createalternative"
                  id="eu.cloudscaleproject.env.toolchain.ToolchainUtils.spotterStaInput"
                  name="Input alternative">
               <Node
                     icon="resources/icons/ic-input-16.png"
                     id="eu.cloudscaleproject.env.staticspotter.nodeInput"
                     name="Input">
                  <NodeDynamic
                        class="eu.cloudscaleproject.env.toolchain.explorer.ExplorerAlternativesContentRetriever"
                        id="eu.cloudscaleproject.env.staticspotter.NodeDynamic1"
                        name="Input alternative content">
                  </NodeDynamic>
               </Node>
               <Node
                     action="eu.cloudscaleproject.env.staticspotter.command.createalternative"
                     icon="resources/icons/configuration_16.png"
                     id="eu.cloudscaleproject.env.staticspotter.nodeConfigurations"
                     name="Configurations">
                  <NodeDynamic
                        class="eu.cloudscaleproject.env.toolchain.explorer.ExplorerAlternativesRetriever"
                        editor="eu.cloudscaleproject.env.staticspotter.partdescriptor.configEditor"
                        empty="eu.cloudscaleproject.env.staticspotter.createconfiguration"
                        id="eu.cloudscaleproject.env.toolchain.ToolchainUtils.spotterStaConf"
                        name="Configuration alternative">
                  </NodeDynamic>
               </Node>
               <Node
                     icon="resources/icons/ic-results-16.png"
                     id="eu.cloudscaleproject.env.staticspotter.nodeResults"
                     name="Results">
                  <NodeDynamic
                        class="eu.cloudscaleproject.env.toolchain.explorer.ExplorerAlternativesRetriever"
                        editor="eu.cloudscaleproject.env.staticspotter.partdescriptor.resultEditor"
                        empty="eu.cloudscaleproject.env.staticspotter.noresults"
                        id="eu.cloudscaleproject.env.toolchain.ToolchainUtils.spotterStaRes"
                        name="Result alternatives">
                  </NodeDynamic>
               </Node>
            </NodeDynamic>
         </Node>
      </Explorer>
      <Nodes
            id="eu.cloudscaleproject.env.staticspotter.nodes"
            name="Nodes">
         <Node
               action="eu.cloudscaleproject.env.staticspotter.command.createalternative"
               id="eu.cloudscaleproject.env.staticspotter.createalternative"
               name="Create alternative...">
         </Node>
         <Node
               action="eu.cloudscaleproject.env.staticspotter.command.createalternative"
               id="eu.cloudscaleproject.env.staticspotter.createconfiguration"
               name="Create configuration...">
         </Node>
         <Node
               id="eu.cloudscaleproject.env.staticspotter.noresults"
               name="No results">
         </Node>
      </Nodes>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="eu.cloudscaleproject.env.staticspotter.inputAlternativeNodeProvider">
         <with
               variable="org.eclipse.ui.selection">
            <test
                  forcePluginActivation="true"
                  property="eu.cloudscaleproject.env.toolchain.explorer.node.id"
                  value="eu.cloudscaleproject.env.toolchain.ToolchainUtils.spotterSta">
            </test>
         </with>
      </definition>
      <definition
            id="eu.cloudscaleproject.env.staticspotter.configAlternativeNodeProvider">
         <with
               variable="org.eclipse.ui.selection">
            <test
                  property="eu.cloudscaleproject.env.toolchain.explorer.node.id"
                  value="eu.cloudscaleproject.env.staticspotter.nodeConfigurations">
            </test>
         </with>
      </definition>
   </extension>

</plugin>
