<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="eu.cloudscaleproject.env.overview.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   
   <extension
         point="eu.cloudscaleproject.env.toolchain.editors">
      <client
            class="eu.cloudscaleproject.env.overview.editors.OverviewTabItemExtension"
            position="1000">
      </client>
   </extension>
   <extension
         point="eu.cloudscaleproject.env.common.notification.validator">
      <client
            class="eu.cloudscaleproject.env.overview.validation.OverviewValidator">
      </client>
   </extension>
   <extension
         point="eu.cloudscaleproject.env.toolchain.tool">
      <Tool
            id="eu.cloudscaleproject.env.toolchain.ToolchainUtils.scaleDl"
            name="ScaleDL models">
         <ResourceProviderFactory
               class="eu.cloudscaleproject.env.overview.OverviewAlternativeProviderFactory"
               editor="eu.cloudscaleproject.env.overview.partdescriptor.overviewEditor"
               id="eu.cloudscaleproject.env.toolchain.ToolchainUtils.overview"
               name="Overview">
         </ResourceProviderFactory>
      </Tool>
      <Explorer
            id="eu.cloudscaleproject.env.overview.explorer"
            name="Explorer">
         <NodeProxy
               id="eu.cloudscaleproject.env.toolchain.ToolchainUtils.scaleDl"
               name="Proxy to ScaleDL node">
            <Node
                  action="eu.cloudscaleproject.env.overview.command.createalternative"
                  icon="resources/icons/ic-overview.png"
                  id="eu.cloudscaleproject.env.overview.nodeOverview"
                  name="Overview"
                  position="10">
               <NodeDynamic
                     class="eu.cloudscaleproject.env.toolchain.explorer.ExplorerAlternativesRetriever"
                     editor="eu.cloudscaleproject.env.overview.partdescriptor.overviewEditor"
                     empty="eu.cloudscaleproject.env.overview.createalternative"
                     id="eu.cloudscaleproject.env.toolchain.ToolchainUtils.overview"
                     name="Overview alternative">
                  <NodeDynamic
                        class="eu.cloudscaleproject.env.toolchain.explorer.ExplorerAlternativesContentRetriever"
                        id="eu.cloudscaleproject.env.overview.nodeContent"
                        name="Overview alternative content">
                  </NodeDynamic>
               </NodeDynamic>
            </Node>
         </NodeProxy>
      </Explorer>
      <Nodes
            id="eu.cloudscaleproject.env.overview.nodes"
            name="Nodes">
         <Node
               action="eu.cloudscaleproject.env.overview.command.createalternative"
               icon="resources/icons/ic-create-alternative-16.png"
               id="eu.cloudscaleproject.env.overview.createalternative"
               name="Create alternative...">
         </Node>
      </Nodes>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="eu.cloudscaleproject.env.overview.overviewAlternativeNodeProvider">
         <with
               variable="org.eclipse.ui.selection">
            <test
                  property="eu.cloudscaleproject.env.toolchain.explorer.node.id"
                  value="eu.cloudscaleproject.env.overview.nodeOverview">
            </test>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="eu.cloudscaleproject.env.product.wizard.category"
            class="eu.cloudscaleproject.env.overview.wizard.CreateOverviewWizard"
            hasPages="true"
            icon="resources/icons/ic-overview.png"
            id="eu.cloudscaleproject.env.overview.createOverviewWizard"
            name="Overview alternative"
            project="false">
      </wizard>
   </extension>

</plugin>
