<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
	    point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
	    <propertyContributor
           contributorId="CSMDiagram.PropertyContributor">
	        <propertyCategory category="Graphiti">
	        </propertyCategory>
	    </propertyContributor>
	</extension>
	
	<extension
	    point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
	    <propertyTabs contributorId="CSMDiagram.PropertyContributor">
	        <propertyTab
               afterTab="0"
               category="Graphiti"
               id="diagram.property.tab.general"
               label="General">
	        </propertyTab>
         <propertyTab
               afterTab="40"
               category="Graphiti"
               id="diagram.property.tab.options"
               label="Options">
         </propertyTab>
         <propertyTab
               afterTab="80"
               category="Graphiti"
               id="diagram.property.tab.import"
               label="Import">
         </propertyTab>
	        
	    </propertyTabs>
	</extension>
	 
	<extension
	    point="org.eclipse.ui.views.properties.tabbed.propertySections">
	    <propertySections contributorId="CSMDiagram.PropertyContributor">
	        <propertySection tab="diagram.property.tab.general"            
	         class="eu.cloudscaleproject.env.csm.properties.sections.BasicSection"
	         filter="eu.cloudscaleproject.env.csm.properties.sections.BasicSection$SectionFilter"
	         id="diagram.property.tab.general.section">
	        </propertySection>
         <propertySection
               class="eu.cloudscaleproject.env.csm.properties.sections.TreeViewSection"
               filter="eu.cloudscaleproject.env.csm.properties.sections.TreeViewSection$SectionFilter"
               id="diagram.property.tab.options.section"
               tab="diagram.property.tab.options">
         </propertySection>
         <propertySection
               class="eu.cloudscaleproject.env.csm.properties.sections.ImportSection"
               filter="eu.cloudscaleproject.env.csm.properties.sections.ImportSection$SectionFilter"
               id="diagram.property.tab.import.section"
               tab="diagram.property.tab.import">
         </propertySection>
	        
	    </propertySections>
	</extension>
   
   <extension
       point="org.eclipse.core.runtime.adapters">
		<factory
			adaptableType="org.eclipse.graphiti.ui.platform.GraphitiConnectionEditPart"
			class="eu.cloudscaleproject.env.csm.properties.PropertyAdapterFactory">
			<adapter
				type="org.eclipse.ui.views.properties.IPropertySource">
			</adapter>
		</factory>
	</extension>

</plugin>
